.collapse-box {
  background-color: #303030;
  border-bottom: 1px solid #696969;
  border-top: 1px solid #696969;
  margin-top: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.collapse-box > .content {
  background-color: #fff;
  overflow: hidden;
}

.collapse-box > .footer {
  text-align: center;
}
.collapse-box > .footer button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #696969;
  border-radius: 0px;
  height: 23.5px;
  line-height: 0px;
  margin-top: .1px;
  width: 40%;
}
.collapse-box > .footer button span {
  color: White;
  margin-top: -2px;
}



